@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0f172a; /* slate-900 */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif;
}
